<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @include('partials/email')
  </head>
  <body>
    <div class="mail">
      <h1>MyBook</h1>

      <p>Email de Recuperação de senha!</p>

      <p>Foi solicitado uma recuperação de senha da sua conta, clique no botão abaixo para recuperar a senha.</p>

      <a href="{{link}}" target="_blank" class="button">Recuperar Senha</a>
    </div>
  </body>
</html>